<launch>
    <param name="robot_description" command="$(find xacro)/xacro --inorder '$(find arm_a)/urdf/arm_b.xacro'"/>

    <!-- COmbine joint values -->
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"/>

    <!-- Show in RVIZ -->
    <node name="rviz" pkg="rviz" type="rviz" args=" -d $(find arm_a)/launch/config.rviz"/>
    
    <!-- Send joint values -->
    <node name="joint_state_publisher_gui" pkg="joint_state_publisher_gui" type="joint_state_publisher_gui" >
        <param name="use_gui" value="True"/>
    </node>
</launch>